<div class="header-line">
  <button class="back-btn" (click)="cancel()">
    <img src="./app/assets/images/back.svg" alt="back">
  </button>
  <h3>Record</h3>
  <span class="status waiting">Waiting for Clarification</span>
</div>

<div class="detailed-page">
  <div class="photo-proof">
    <img src="./app/assets/images/Screenshot%202025-03-06%20at%2022.39.31%201.png" alt="image">
  </div>
  <div class="aside">
    <div class="user-info">
      <h4>Andrii Mykytenko</h4>
      <p>
        Hello, <br>
        I am sending the receipt for the English lesson. <br>
        Have a great day!
      </p>
    </div>
    <form class="attachment-form-group" [formGroup]="profileForm">
      <label class="input-label">
        Payer (Sender) Information
        <input class="input text" type="text" placeholder="Type..." formControlName="senderName">
      </label>
      <label class="input-label">
        Recipient (Receiver) Information
        <input class="input text" type="text" placeholder="Type..." formControlName="recName">
      </label>
      <label class="input-label">
        Amount (Current)
        <input class="input text" type="number" placeholder="Type..." formControlName="amount">
      </label>
      <label class="input-label">
        Amount (USD)
        <input class="input text" type="number" placeholder="Type..." formControlName="amountUSD">
      </label>
      <label class="input-label">
        Purpose of Payment
        <input class="input text" type="text" placeholder="Type..." formControlName="purposePayment">
      </label>
      <label class="input-label">
        Date of Transaction:
        <input class="input text" type="date" placeholder="Type..." formControlName="date">
      </label>
      <label class="input-label">
        Category
        <input class="input text" type="date" placeholder="Type..." formControlName="category">
      </label>

    </form>
  </div>
  <div class="action-button-row">
    <button class="fill-btn" (click)="approve()">Approved</button>
    <button class="outline-btn">Reject</button>
    <button class="outline-btn" (click)="cancel()">Cancel</button>
  </div>

</div>
