<header>
  <nav class="navigation">
    <h1>
      <a routerLink="/dashboard">
        <img class="logo" src="./app/assets/images/logo.svg" alt="logo">
      </a>
    </h1>
    <div class="app-name">App name</div>
    <ul class="navigation-list">
      @for (page of pages; track page) {
        <li>
          <a
            [routerLink]="page.path"
            routerLinkActive="active"
          >
            {{ page.title }}
          </a>
        </li>
      }
    </ul>
  </nav>
  <ul class="actions">
    <li>
      <img src="./app/assets/images/search.svg" alt="search">
    </li>
    <li>
      <img src="./app/assets/images/bell.svg" alt="notification">
    </li>
    <li class="user">
      <div class="user-avatar">A</div>
    </li>
  </ul>
</header>
