.mat-mdc-header-cell, .mat-mdc-cell {
  vertical-align: middle;
}

.mat-mdc-table {
  border-bottom: 2px solid #DFE1E6 !important;

  .mat-mdc-header-cell {
    border-bottom: 2px solid #DFE1E6;
  }
}

.mat-mdc-paginator {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
