@use '../../assets/styles/mixins' as m;

.mat-mdc-cell.mat-column-fullName {
  color: #4952FF;
}

.mat-mdc-cell.mat-column-totalUsed{
  text-align: right;
}

.mat-column-status .text-wrapper {
  display: inline-flex;
  text-align: center;
  border-radius: 3px;
  background: #DFE1E6;
  color: #42526E;
  padding: 0 4px;
  line-height: 16px;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;

  &.new {
    color: white;
    background: #9E00FF;
  }
}

.requests {
  margin: 24px;
  @include m.box-wrapper;

  .headline {
    padding: 24px;
  }

  .content {
    padding-bottom: 24px;
  }

  h3 {
    color: #172B4D;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
  }

  .action-form {
    display: flex;
  }

  .search-input {
    margin-right: 8px;
  }
}
