<div class="login-page">
  <img class="logo" src="./app/assets/images/XPortal.svg" alt="logo">
  <div class="greetings-box">
    <div class="login-actions">
      <button class="microsoft-btn" (click)="onLogin()">
        <img src="/app/assets/images/icons8-microsoft-48%201.svg" alt="microsoft">
        <span>Sign in with Microsoft</span>
      </button>
      <div class="divider"></div>

      @if (isEmailLogin) {
        <label class="email">
          <input class="email-input" type="email" placeholder="Enter your work email address">
          <img class="email-img" src="./app/assets/images/mail.svg" alt="mail">
        </label>
        <button class="submit" (click)="onLogin()">Continue</button>
      } @else {
        <div class="second-option" (click)="selectEmailLogin()">Log in with Email and Password</div>
      }
    </div>
    <div class="welcome-box">
      <h2>Welcome to Trinetix Benefit Portal</h2>
      <p>
        Log in to access your personalized benefits, manage your claims, and stay updated with the latest company
        offerings. Our secure portal ensures a seamless experience, allowing you to track reimbursements, explore
        available perks, and submit requests effortlessly.
      </p>
      <p>🔐 Please enter your credentials to continue. If you need assistance, contact support for help with your account.</p>
    </div>
  </div>
  <div class="footer">
    <ul class="rights">
      <li>2025 All rights reserved</li>
      <li>Private policy</li>
      <li>support</li>
    </ul>
    <div class="bottom-footer">
      <img src="./app/assets/images/logo.svg" alt="logo">
    </div>
  </div>
</div>
