@use '../../assets/styles/mixins' as m;

.employees {
  margin: 24px;
  @include m.box-wrapper;

  .headline {
    padding: 24px;

    h3 {
      color: #172B4D;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
    }

    .action-form {
      display: flex;

      .search-input {
        margin-right: 8px;
      }
    }
  }
}
