@use '@angular/material' as mat;
@forward 'app/assets/styles/index';

.page {
  @include mat.table-overrides((
    background-color: white,
    header-headline-color: #6B778C,
    row-item-container-height: 40px,
    header-container-height: 40px,
    header-headline-weight: bold,
    row-item-outline-width: 0,
  ));
  @include mat.paginator-overrides((
    container-background-color: white,
  ));
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

