@use '@angular/material' as mat;
@forward 'app/assets/styles/index';

.page {
  @include mat.table-overrides((
    background-color: white,
    header-headline-color: #6B778C,
    row-item-container-height: 48px,
    header-container-height: 48px,
    header-headline-weight: bold,
    row-item-outline-color: #E0E0E0
  ));
  @include mat.paginator-overrides((
    container-background-color: white,
  ));

  @include mat.datepicker-overrides((
    calendar-date-selected-state-background-color: #F4F5F7,
  ));
}

:root {
  @include mat.dialog-overrides((
    container-max-width: 926px,
    subhead-font: 'Arial, Helvetica, sans-serif',
  ));
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

